*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.table tr
{
    background-color: rgb(62, 176, 180);
}
h1
{
    color: rgb(62, 176, 180);
}
#all{
    display: none;
}
#btn1{
    margin-bottom: 20px;
    font-style: italic;
}